.wrapper {
    min-height: 500px;
    padding: 16px 0;
    position: relative;
}

.wrapper.col-2 {
    display: inline-block;
    min-height: 256px;
    width: 49%;
}

@media (max-width: 400px) {
    .wrapper.col-2 {
        width: 100%
    }
}

.wrapper canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

